body {
    font-family: sans-serif
    margin: 0%;
    padding: 0;
    color: rgb(179, 163, 210);
    line-height: 1.6;
}

header {
    background-color: rgb(209, 240, 211);
    color: rgb(186, 168, 229);
    text-align: center;
    padding: 40px 20px;
}


header img {
    width: 150px;
    neight: 150px;
    border-radius: 50%;
}
h1{
    font-family: 'Times New Roman', Times, serif;
}

h3{
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 3px solid  rgb(209, 240, 211);
    display: block;
}
.btn-rouge{
    display: inline-block;
    background-color: rgb(186, 168, 229);
    color: white;
    padding: 12px 14px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.btn-rouge;:hover{
    background-color: rgba(193, 3, 3, 0.485);
}
main{
    margin: 0 auto;
    max-width: 800px;
    
}
 